<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Agnas (Episode 8)</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
				<a class="navbar-brand" href="#">Pulandit</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
					<li><a href="#">Link</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
						
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li>
				</ul>
				
				<form class="navbar-form navbar-left">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
				
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Link</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="col-md-10 col-md-offset-1">
			<div class="post-single">
				<div class="post-heading">
					<h1>Agnas: Episode 8</h1>

					<div class="post-stats-single">
						<ul>
							<li><span class="glyphicon glyphicon-eye-open"></span> 20K</li>
							<li><span class="glyphicon glyphicon-thumbs-up"></span> 15</li>
							<li><span class="glyphicon glyphicon-comment"></span> 6</li>
						</ul>
					</div>

					<div class="post-meta-single">
						<div class="avatar"><img src="https://a.wattpad.com/useravatar/supertoyantz.24.956657.jpg" alt="#"></div>

						<span class="author">by <a href="#">supertoyantz</a></span>
					</div>
				</div>

				<div class="post-content-single">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis voluptatem mollitia neque veniam, distinctio aperiam blanditiis inventore repudiandae natus! Aspernatur labore quo expedita numquam voluptas enim dolore, porro, ad distinctio!</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a sem tortor. Phasellus et orci vel elit feugiat imperdiet a a lacus. Nulla at justo quam. Nullam risus nibh, placerat a leo eget, cursus pharetra lorem. Vestibulum at mattis turpis. Duis eget ante diam. Nunc aliquam at tortor a ullamcorper. Suspendisse potenti. Ut sed euismod magna. Aenean blandit nunc elit, at porttitor ipsum rhoncus sit amet. Phasellus consequat consectetur iaculis. Nam quis euismod est, fermentum vulputate ante. Suspendisse rutrum odio at tincidunt imperdiet. Sed venenatis dapibus urna id tincidunt.</p>

					<p>Nunc ut nulla quis leo tempor semper ut at est. Nulla at vehicula felis. Integer vulputate, sapien ac mattis eleifend, enim eros lacinia augue, non imperdiet odio elit ac arcu. Sed ultrices eleifend purus ut tempus. In commodo commodo tortor non semper. Vestibulum tincidunt est eget ipsum vulputate lacinia. Nam pulvinar nisi non mi hendrerit condimentum. Curabitur eget quam venenatis, venenatis justo vel, ornare tortor. Quisque fringilla sem turpis, at maximus sem commodo ac. In fringilla mauris vel neque venenatis laoreet. Nulla vel tellus pretium, laoreet tellus non, malesuada erat. Donec a mollis leo. Vivamus vitae magna vel tellus fringilla congue id eget erat.</p>

					<p>Nunc ligula velit, imperdiet mollis enim in, imperdiet sagittis neque. Nam et dignissim velit. Aliquam erat volutpat. Duis imperdiet posuere ultrices. Aenean mi elit, tempus eget diam id, semper pellentesque lorem. Sed rutrum velit ac lacus laoreet, eu ultrices lorem tincidunt. Donec vitae ultrices sapien. Aliquam congue, quam non porttitor malesuada, velit felis vulputate turpis, nec venenatis purus felis vel sapien. Nullam faucibus neque sed quam fermentum, cursus pretium lacus consequat. Suspendisse tristique pulvinar nibh, sed gravida nisl placerat in. Aliquam erat volutpat. Aliquam vel magna non ligula viverra scelerisque sed eget magna. Nullam malesuada accumsan est non pellentesque.</p>

					<p>Aenean ullamcorper augue at diam pretium gravida. Pellentesque feugiat semper maximus. Quisque tempus magna ante, vitae molestie est dictum ut. Fusce sem erat, accumsan vitae dignissim sed, finibus eu nisi. Cras non urna justo. Nunc porttitor eleifend nunc ut ullamcorper. Ut tristique aliquam tortor non condimentum. Nam eu vestibulum lacus, in maximus sem. Sed ut magna efficitur, tristique nunc et, suscipit diam.</p>

					<p>Praesent eget placerat nisi, non ullamcorper ex. Duis finibus tortor mauris, volutpat lacinia elit luctus in. Fusce aliquam vestibulum turpis. In luctus eu leo nec finibus. Duis mauris urna, ullamcorper sit amet erat non, condimentum gravida nisl. In a dolor id elit posuere laoreet a sed urna. Phasellus consectetur, ex et convallis rutrum, turpis nunc lacinia diam, ac accumsan lacus ex at magna.</p>

					<p>Suspendisse convallis gravida sodales. Pellentesque porttitor magna nec nunc efficitur congue. Duis accumsan ligula vitae felis dictum pulvinar at non lacus. Sed finibus egestas nisl, at posuere lorem sollicitudin sed. Nulla vitae pulvinar metus. Suspendisse id augue eu ante bibendum efficitur eu ut purus. Proin nec dolor maximus, scelerisque felis imperdiet, dignissim mi. Cras accumsan sapien metus, ut ornare sapien tincidunt placerat. Pellentesque vitae eleifend dolor. Nunc ut arcu nec urna suscipit pulvinar et sit amet nisl. Duis ultricies ante sit amet odio imperdiet pharetra. Fusce et scelerisque eros. Aliquam erat volutpat.</p>

					<p>Suspendisse elementum pellentesque augue, id vulputate erat auctor sit amet. Donec in egestas massa. Integer consectetur tellus quis tincidunt placerat. Mauris eu condimentum tellus. Cras finibus tortor sed felis fringilla, dignissim lacinia justo sagittis. Morbi viverra magna in dignissim malesuada. Vestibulum vel justo eget justo dapibus euismod. Duis auctor enim vitae nulla gravida porttitor. Suspendisse ac augue erat. Pellentesque in ullamcorper dui. Nam quis consectetur purus. Etiam eu magna diam. Duis sed consequat lorem. Donec consectetur magna eu purus maximus, et mattis risus faucibus. Nullam sollicitudin imperdiet nunc, vitae fringilla turpis aliquet id. Nulla accumsan magna non semper porta.</p>

					<p>Mauris fermentum magna sed metus blandit tempus. Donec sed ornare augue. Fusce pretium augue non ultricies sagittis. Donec sit amet vehicula tortor, ut tempus est. Phasellus sit amet ultricies ex. Duis non sapien orci. Vivamus fringilla, quam volutpat molestie ullamcorper, sapien ipsum imperdiet tellus, nec tempor felis elit eu turpis. Nam pharetra accumsan purus, eget hendrerit ipsum efficitur eu. Aliquam ut lacus in nisi lacinia tincidunt. Nunc viverra enim feugiat arcu volutpat, quis laoreet risus iaculis. Proin semper ante ante. Nulla facilisi. Aliquam sed ligula vitae erat blandit condimentum. Nulla bibendum leo enim, sit amet aliquet lacus iaculis eu.</p>

					<p>Nulla et nisl at tellus aliquet rutrum. Nunc eu lectus rhoncus, sodales mauris id, pellentesque arcu. Praesent nisl nunc, lobortis quis eleifend a, aliquet nec ex. Morbi non ornare felis, et tincidunt ligula. Morbi risus felis, lacinia in semper vel, rutrum sed sem. Pellentesque iaculis eros in nisl aliquet, vel tristique dui mattis. Donec ut vestibulum lorem, quis laoreet ante. Cras a pulvinar tellus.</p>

					<p>Phasellus fermentum odio in risus laoreet, eget consectetur tellus placerat. Donec eu ipsum et purus molestie varius venenatis non felis. Suspendisse et ipsum at eros pharetra vehicula non sit amet dolor. Phasellus et tincidunt diam. Proin varius volutpat quam, vitae rhoncus velit iaculis ac. Suspendisse potenti. Sed ullamcorper purus non nunc aliquet lacinia. In hac habitasse platea dictumst.</p>

					<p>Suspendisse pretium pretium est, sit amet semper eros consectetur id. Cras pulvinar consectetur leo at eleifend. Nam vestibulum quis lectus ac congue. Nulla facilisi. Duis vitae molestie lectus. Nullam volutpat, massa vel mattis placerat, tortor justo auctor dui, non varius urna nunc in lacus. Fusce tempor vitae purus ac vestibulum. Pellentesque lacus dui, commodo quis mi non, pharetra gravida velit. Nunc et purus ac erat dictum elementum.</p>

					<p>Curabitur vel tincidunt mi. Integer ac metus dignissim, posuere sapien quis, rutrum dolor. Donec ligula nunc, imperdiet eu lacinia placerat, dapibus at ex. Aenean vel dictum metus. Praesent at sodales velit. Praesent erat nisi, vestibulum vitae nisl nec, bibendum lobortis odio. Cras ullamcorper elit cursus elit lacinia finibus. Nulla id malesuada libero, ut placerat massa. In suscipit nisi nunc, non pharetra ipsum mattis vitae.</p>

					<p>Nam sit amet ipsum vestibulum, pharetra ante a, scelerisque arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam erat volutpat. Aliquam a lectus auctor, interdum nisi vitae, cursus lacus. Quisque hendrerit est id porttitor consequat. Sed rutrum faucibus mi ut iaculis. Morbi a ultricies tellus. Suspendisse at condimentum tortor. In orci justo, lacinia eget nulla vitae, hendrerit sollicitudin tortor. Donec id lobortis risus. Pellentesque accumsan venenatis vulputate. Etiam lobortis risus et lectus ultricies suscipit.</p>

					<p>Quisque ut tincidunt sem. Mauris quis augue risus. Integer gravida cursus arcu id sagittis. Donec quis consectetur lectus. Pellentesque dignissim mi sed commodo fringilla. Vestibulum sed finibus turpis, malesuada imperdiet libero. Cras in scelerisque est. Sed blandit eleifend ipsum non sagittis. Duis enim risus, rhoncus at metus eget, commodo congue enim. Etiam lacinia pulvinar ligula sodales tempor. Nam pretium elit nec convallis viverra. Vestibulum laoreet velit sed lectus lacinia laoreet.</p>

					<p>Aenean ultricies nunc est, a placerat nulla vehicula quis. Ut et pharetra nisi. Nulla feugiat enim enim, ut tempor risus interdum vitae. Nunc sit amet suscipit elit. Vestibulum vitae lacus varius, facilisis odio et, aliquam ipsum. Praesent ultricies commodo ornare. Proin ornare massa elit, in ullamcorper dui posuere vitae. In id vulputate nisi. Aenean placerat ex et dui tristique ornare. Cras sollicitudin vestibulum turpis, a tempus felis viverra maximus. Mauris bibendum, ante at fringilla varius, erat nisl luctus sapien, nec imperdiet magna libero ac lacus. Aliquam erat volutpat. Cras at lacus scelerisque, convallis nunc et, tincidunt neque. Pellentesque in interdum urna, dictum viverra felis. Fusce rhoncus massa sit amet sodales rhoncus.</p>
				</div>

				<div class="post-content-comment">
					<div class="comment-form">
						
					</div>

					<div class="comments">
						<div class="comment-item">
							<div class="comment-avatar">
								<img src="https://a.wattpad.com/useravatar/rivshaxx.32.959737.jpg" alt="*">
							</div>

							<div class="comment-content">
								<div class="comment-meta">
									<a href="#" class="author">roseanneocasla</a>
									<p class="comment-date">May 1, 2016</p>
								</div>

								<div class="comment-text">
									HOY KINIKILIG AKO HAHAHHAHA
								</div>

								<div class="comment-action">
									<ul>
										<li><a href="#">Report</a></li>
										<li><a href="#">Delete</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="comment-item">
							<div class="comment-avatar">
								<img src="https://a.wattpad.com/useravatar/roseanneocasla.32.430573.jpg" alt="*">
							</div>

							<div class="comment-content">
								<div class="comment-meta">
									<a href="#" class="author">roseanneocasla</a>
									<p class="comment-date">May 1, 2016</p>
								</div>

								<div class="comment-text">
									Hahaha gusto ko yung talsik mo lumalaway! Ahaha kuya toyantz! Namiss ko Highschool days ko dito. hehe
								</div>

								<div class="comment-action">
									<ul>
										<li><a href="#">Report</a></li>
										<li><a href="#">Delete</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="comment-item">
							<div class="comment-avatar">
								<img src="https://a.wattpad.com/useravatar/8.32.jpg" alt="*">
							</div>

							<div class="comment-content">
								<div class="comment-meta">
									<a href="#" class="author">usermobil</a>
									<p class="comment-date">May 1, 2016</p>
								</div>

								<div class="comment-text">
									Woo .. Ayos to boss .. Pabor saga kagaya kong mobile reader.
								</div>

								<div class="comment-action">
									<ul>
										<li><a href="#">Report</a></li>
										<li><a href="#">Delete</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
