.front-welcome{
	text-align: center;
}

.front-welcome h1{
	font-size: 38px;
	font-weight: 700;
	line-height: 44px;
	text-rendering: optimizelegibility;
}

.front-welcome p{
	font-size: 21px;
	font-weight: 300;
	line-height: 31px;
}

.thumbnail{
	border: none;
}

.thumbnail .caption{
	padding: 0px;
}

.thumbnail .caption p{
	text-align: justify;
}

.thumbnail-img{
	width: 100%;
	max-height: 350px;
	overflow: hidden;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.thumbnail-img img{
	width: 100%;
}

.post-meta ul{
	list-style: none;
	padding: 0px;
}

.post-meta ul li{
	display: inline;
	margin-right: 10px;
	text-align: left;
}

.post-stats{
	/*display: flex;*/
}

.post-stats ul{
	padding: 0px;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.post-stats ul li{
}

.post-single{

}

.post-single .post-heading{
	text-align: center;
}

.post-stats-single ul{
	padding: 0px;
	list-style: none;
}

.post-stats-single li{
	display: inline;
	margin-right: 10px;
}

.post-meta-single{

}

.post-meta-single .avatar img{
	border-radius: 50%;
	max-width: 24px;
	max-height: 24px;
}

.post-content-single{
	margin-top: 30px;
	border-top: 1px solid #eee;
	padding-top: 20px;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	text-align: justify;
}

.post-content-single p{
	margin-bottom: 20px;
}

.comment-item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 1px;
	/*background: #eee;*/
	padding: 10px;
}

.comment-avatar{
	height: 32px;
	height: 32px;
	max-height: 32px;
	max-width: 32px;
	overflow: hidden;
}

.comment-avatar img{
	width: 100%;
	border-radius: 50%;
}

.comment-meta{
}

.comment-meta a.author{
	color: rgb(34, 34, 34);
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}

.comment-item .comment-avatar{
	margin-top: 5px;
	margin-right: 10px;
}

.comment-date{
	font-size: 12px;
	color: rgb(187, 187, 187);
}

.comment-text{
	font-size: 16px;
	color: rgb(85, 85, 85);
	font-weight: 400;
	line-height: 21px;
}

.comment-action{
	font-size: 10px;
}

.comment-action ul{
	list-style: none;
	padding: 0px;
}

.comment-action li{
	display: inline;
	margin-right: 5px;
}
